doc/greenwood.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="a">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="href" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="chapter">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title"/>
                <xs:element ref="content"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="content">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ul" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="table" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="greenwood">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="parameters"/>
                <xs:element ref="title"/>
                <xs:element ref="page" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="li">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="a"/>
                <xs:element ref="img"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="p">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="a"/>
                <xs:element ref="img"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="page">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title"/>
                <xs:element ref="chapter" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parameter">
        <xs:complexType>
            <xs:attribute name="name" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="background-color"/>
                        <xs:enumeration value="color"/>
                        <xs:enumeration value="border-color"/>
                        <xs:enumeration value="font-family"/>
                        <xs:enumeration value="font-size"/>
                        <xs:enumeration value="font-size-big"/>
                        <xs:enumeration value="link-color"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parameters">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="parameter" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="table">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="tr" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="td">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="a"/>
                <xs:element ref="img"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="th" type="xs:string"/>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="tr">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="th" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="td" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="ul">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="li" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="img">
        <xs:complexType>
            <xs:attribute name="src" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
